@import url(../fonts/roboto/roboto.min.css);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html {
  background-color: #3F51B5;
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  -moz-user-select: none;
  -moz-user-drag: none;
  -o-user-select: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  user-drag: none;
}

header,
nav,
section {
  display: block;
}

a {
  color: rgba(63, 81, 181, 0.84);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
a:focus, a:hover {
  color: #3F51B5;
}

img {
  height: auto;
  width: 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.12);
}
header nav {
  clear: both;
  font-size: 16px;
  font-weight: 300;
  height: 66px;
  line-height: 64px;
  margin: 0 auto;
  max-width: 750px;
  overflow: hidden;
}
header nav a {
  border-bottom: 2px solid transparent;
  color: rgba(255, 255, 255, 0.84);
  display: inline-block;
  float: right;
  padding: 0 16px 0 16px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
header nav a:focus, header nav a:hover {
  border-bottom: 2px solid white;
  color: white;
}
header nav a:first-child {
  border-bottom: 0;
  height: 24px;
  float: left;
  margin: 0 16px;
  padding: 0;
  width: 24px;
}
header nav a:first-child #logo {
  display: block;
  margin: 20px 0;
  transition: all 0.5s ease-in-out;
}
header nav a:first-child:focus #logo, header nav a:first-child:hover #logo {
  opacity: 0.84;
}
@media screen and (max-width: 400px) {
  header nav a:not(:first-child) {
    display: none;
  }
  header nav a:first-child {
    position: relative;
    left: 50%;
    transform: translateX(-100%);
  }
}

main {
  padding: 0 16px;
}
main section {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
  margin: 16px auto;
  max-width: 750px;
  padding: 16px;
  transition: all 0.5s ease-in-out;
}
main section:focus, main section:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
}
main section h1 {
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  font-weight: 400 bold;
  margin: 0 0 16px 0;
  text-transform: uppercase;
}
main section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
main section#about p {
  text-align: justify;
}
main section#converter input {
  margin: 0 0 16px 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
main section#converter input[type='text'] {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
  display: block;
  margin: 12px 0;
  padding: 8px 16px;
}
main section#converter input[type='text']:focus, main section#converter input[type='text']:hover {
  border-bottom: 1px solid #3F51B5;
}
main section#converter input[type='button'] {
  background-color: #3F51B5;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
  color: rgba(255, 255, 255, 0.84);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin: 4px 0 0 0;
  padding: 12px 16px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
main section#converter input[type='button']:focus, main section#converter input[type='button']:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
  color: white;
}
main section#getit,
main section#help {
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
}
main section#getit ul,
main section#help ul {
  margin: 0 0 0 16px;
}
main section#getit ul li,
main section#help ul li {
  padding: 8px 0;
}
main section#getit ul li a,
main section#help ul li a {
  color: rgba(0, 0, 0, 0.54);
}
main section#getit ul li a:focus, main section#getit ul li a:hover,
main section#help ul li a:focus,
main section#help ul li a:hover {
  color: rgba(0, 0, 0, 0.74);
}
main footer {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 16px auto;
  max-width: 750px;
  padding: 16px;
  transition: all 0.5s ease-in-out;
}
main footer:focus, main footer:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
}
main footer p {
  line-height: 26px;
  text-align: center;
}
