doctype html
html(lang='ru')
	head
		link(href='assets/styles/main.min.css' rel='stylesheet')
		meta(charset='utf-8')
		meta(content='#3848A2' name='theme-color')
		meta(content='initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
		meta(content='IE=edge' http-equiv='X-UA-Compatible')
		script(src='assets/scripts/pxtoem.min.js' type='text/javascript')
		title PXtoEM - Конвертер из PX в EM
	body
		header
			nav
				a(href='http://sezex.ru/works/pxtoem/')
					img(src='assets/img/logo.png')#logo
				a(href='mailto:roman@sezex.ru?subject=PXtoEM Support' rel='noopener noreferrer' target='_blank') Поддержка
				a(href='https://github.com/sezoid/PXtoEM/' rel='noopener noreferrer' target='_blank') Исходный код
		main
			section#about
				h1 О проекте
				p PXtoEM - простой конвертер, позволяющий с легкостью рассчитать размеры тех или иных объектов при веб-разработке. Благодаря своей простоте, есть 4 версии приложения: веб, расширение для Google Chrome, плагин для Sublime Text 3 и приложение для Android OS.
			section#converter
				h1 Конвертер
				p
					input(type='text' placeholder='Базовый размер 1 EM (по умолчанию - 16px)' value='16').custom-base
					input(type='text' placeholder='PX в EM').custom-px
					input(type='text' placeholder='EM в PX').custom-em
					input(type='button' value='Конвертировать').convert
			section#getit
				h1 Загрузки
				ul
					li
						a(href='http://sezex.ru/PXtoEM.apk' rel='noopener noreferrer' target='_blank') Приложение (Android)
					li
						a(href='http://sezex.ru/PXtoEM.crx' rel='noopener noreferrer' target='_blank') Расширение (Google Chrome)
					li
						a(href='http://sezex.ru/PXtoEM.sublime-package' rel='noopener noreferrer' target='_blank') Плагин (Sublime Text 3)
			section#help
				h1 Установка плагина для Sublime Text 3
				ul 
					li Скачайте плагин по ссылке выше
					li Если у вас Windows: перейдите и скопируйте файл плагина по следующему пути "C: \ Users \ ИМЯ_ПОЛЬЗОВАТЕЛЯ \ AppData \ Roaming \ Sublime Text 3 \ Installed Packages"
					li После установки в верхнем меню во вкладке "Edit" появится пункт "Px to Em" (есть комбинация клавиш "CTRL + E")
					li Данный пункт выполняет перевод ПИКСЕЛЕЙ В ЭМЫ и не более
				br
				br
				h1 Установка расширения для Google Chrome и его запуск
				ul
					li Скачайте расширение и сохраните его в удобном для вас месте
					li В Google Chrome идем в меню по пунктам "Дополнительные инструменты - Расширения"
					li В открывшееся окно переносим файл расширения, подтверждаем установку
					li Расширение можно запустить с экрана сервисов или перейдите по URL - chrome://apps/
				br
				br
				h1 Нужна помощь?
				p Если вдруг у вас возникли трудности или есть какие-либо пожелания, то напишите мне на почту: <a href='mailto:sezyara@gmail.com?subject=PXtoEM Support: возникли трудности' rel='noopener noreferrer' target='_blank'>sezyara@gmail.com</a>
			footer
				p 
					a(href='http://sezex.ru/' rel='noopener noreferrer' target='_blank') Роман Султанов, 2017